:root {
  --color_secondary: #ccc;
  --color_primary: #2e5d61;
}

.blocks-container {
  background: var(--color_secondary);
}

.block__image {
  max-height: 19vh;
  border-radius: 50%;
}

.block {
  background: var(--color_primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15rem;
  height: 50vh;
  padding: 0;
  border: 3px solid var(--color_secondary);
}

.link {
  color: var(--color_secondary);
  max-width: 80%;
  max-height: 80%;
}


.block--link:hover {
  background: var(--color_secondary);
  color: var(--color_primary);
  cursor: pointer;
}

.block--link:hover .link {
  color: var(--color_primary);
}